<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/CODE/SELENIUM/SKILLO/TAF_S4_TNG7_V1">
        <classes>
            <class name="gui.e2e.VerifyUserCanRegisterLoginUpdateProfilePost">
                <methods>
                    <include name="basicEndToEnd"/>
                </methods>
            </class>
            <class name="gui.login.LoginHappyPathsTest">
                <methods>
                    <include name="verifyLoginWithValidCredentials"/>
                </methods>
            </class>
            <class name="gui.login.LoginNegativePathsTest">
                <methods>
                    <include name="verifyUserCannotLoginWithWrongUserNameOrPasswordOrInvalidEntries"/>
                </methods>
            </class>
            <class name="gui.post.PostTests">
                <methods>
                    <include name="verifyUserCanCreatePost"/>
                    <include name="verifyUserCanDeletePost"/>
                </methods>
            </class>
            <class name="gui.registration.RegistrationHappyPath">
                <methods>
                    <include name="verifyUserCanRegisterWithValidData"/>
                </methods>
            </class>
            <class name="gui.registration.RegistrationNegativePath">
                <methods>
                    <include name="validateUserCannotRegisterWithEvenOneInvalidField"/>
                </methods>
            </class>
            <class name="gui.usersTest.FollowAnotherUser">
                <methods>
                    <include name="verifyUserCanFollowAnotherUser"/>
                </methods>
            </class>
            <class name="gui.usersTest.likeAndDislikeRandomPostFromHomePage">
                <methods>
                    <include name="verifyUserCanLikeAndDislaikeRandomPostFromHomePageAfterLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>